*
{
    box-sizing: border-box;
}
html
{
    font-size: 15px;
}
html,
body,
div,
p
{
    margin: 0;
    padding: 0;
}

body
{
    overflow: hidden;

    color: #fff;
    background: #000;
}
button
{
    margin: 0;
    padding: 0;

    border: none;
    outline: none;
}
/*start-container start*/
.start-container
{
    position: absolute;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    border: 1px solid green;
    background: url(../images/bg_start.png);
    background-size: cover;

    justify-content: center;
    align-items: center;
    z-index: 9;
}

.start-container button
{
    font-family: 微软雅黑;
    font-size: 20px;
    line-height: 50px;

    width: 200px;
    height: 50px;
    margin-top: 50px;

    cursor: pointer;

    border: 0;
    border-radius: 50%;
    outline: none;
    background: lightgreen;
}

.start-container button:hover
{
    background: lightcoral;
}
/*start-container end*/

/*setting start*/
.setting-container
{
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;

    display: flex;
    visibility: hidden;
    flex-direction: column;

    box-sizing: border-box;
    width: 100%;
    height: 600px;
    margin-top: 350px;

    background-color: #000;

    justify-content: center;
    align-items: center;
}
/*setting end*/

/*mobil-control start*/
#control-container
{
    display: flex;
    flex-direction: column;

    margin-top: -1200px;

    align-items: center;
}
#control-container .middle,
#control-container .top,
#control-container .down
{
    z-index: 5;

    width: 100%;
    height: 400px;

    background-color: transparent;

    flex: 1;
}
#control-container .middle
{
    display: flex;
}
#control-container .left
{
    background-color: transparent;

    flex: 1;
}
#control-container .right
{
    background-color: transparent;

    flex: 1;
}
/*mobil-control end*/

.game-container
{
    position: relative;

    display: flex;
    visibility: hidden;

    box-sizing: content-box;
    height: 1200px;

    border: 1px solid green;
}

.game-left,
.game-right
{
    display: flex;
    flex-direction: column;

    text-align: center;

    flex: 1;
}

.timer-panel,
.help-panel,
.level-panel,
.next-panel,
.setting-panel,
.score-panel,
.high-score-panel
{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.timer-panel
{
    border-bottom: 1px solid green;

    flex: 1;
}
.help-panel
{
    border-bottom: 1px solid green;

    flex: 2;
}
.level-panel
{
    flex: 1;
}

.next-panel
{
    border-bottom: 1px solid green;

    flex: 1;
}
.setting-panel
{
    border-bottom: 1px solid green;

    flex: 1;
}
.score-panel
{
    border-bottom: 1px solid green;

    flex: 1;
}
.high-score-panel
{
    flex: 1;
}
.game-main-panel
{
    width: 780px;
    height: 1200px;

    border-right: 1px solid green;
    border-left: 1px solid green;
}
.panel-body {
    z-index: 7;
}
.panel-body button
{
    font-size: 24px;
    font-weight: bold;

    width: 100px;
    height: 40px;

    background-color: #fff;
    z-index: 6;
}
