*
{
    box-sizing: border-box;
}
html
{
    font-size: 15px;
}
html,
body,
div,
p
{
    margin: 0;
    padding: 0;
}

body
{
    overflow: hidden;

    color: #fff;
    background: #000;
}
button
{
    padding: 0;
    margin: 0;
}
/*start-container start*/
.start-container
{
    position: absolute;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    border: 1px solid green;
    background: url(../images/bg_start.png);
    background-size: cover;

    justify-content: center;
    align-items: center;
}

.start-container button
{
    font-family: 微软雅黑;
    font-size: 20px;
    line-height: 50px;

    width: 200px;
    height: 50px;
    margin-top: 50px;

    cursor: pointer;

    border: 0;
    border-radius: 50%;
    outline: none;
    background: lightgreen;
}

.start-container button:hover
{
    background: lightcoral;
}
/*start-container end*/

/*setting start*/
.setting-container
{
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;

    display: flex;
    visibility: hidden;
    flex-direction: column;

    box-sizing: border-box;
    width: 100%;
    height: 600px;
    margin-top: 350px;

    background-color: #000;

    justify-content: center;
    align-items: center;
}
/*setting end*/

/*mobil-control start*/
#control-container
{
    display: flex;
    flex-direction: column;

    align-items: center;
}
#control-container .row
{
    display: flex;

    flex: 1;
}
#control-container .row .left,
#control-container .row .right,
#control-container .row .top,
#control-container .row .down
{
    width: 5rem;

    border-width: 2.5rem;
    border-style: solid;
}
#control-container .row .center
{
    width: 5rem;
    height: 5rem;
}
#control-container .row .left
{
    border-color: transparent #f00 transparent transparent;
}
#control-container .row .right
{
    border-color: transparent transparent transparent #f00;
}
#control-container .row .top
{
    border-color: transparent transparent #f00 transparent;
}
#control-container .row .down
{
    border-color: #f00 transparent transparent transparent;
}
/*mobil-control end*/

.game-container
{
    visibility: hidden;

    position: relative;
    display: flex;

    box-sizing: content-box;
    height: 1200px;

    border: 1px solid green;
}

.game-left,
.game-right
{
    flex: 1;
    display: flex;
    flex-direction: column;

    text-align: center;
}

.timer-panel,
.help-panel,
.level-panel,
.next-panel,
.setting-panel,
.score-panel,
.high-score-panel
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-panel
{
    flex: 1;
    border-bottom: 1px solid green;
}
.help-panel
{
    flex: 2;
    border-bottom: 1px solid green;

}
.level-panel
{
    flex: 1;
}

.next-panel
{
    flex: 1;
    border-bottom: 1px solid green;
}
.setting-panel
{
    flex: 1;
    border-bottom: 1px solid green;
}
.score-panel
{
    flex: 1;
    border-bottom: 1px solid green;
}
.high-score-panel
{
    flex: 1;
}
.game-main-panel
{
    width: 780px;
    height: 1200px;

    border-right: 1px solid green;
    border-left: 1px solid green;
}
.panel-body button
{
    width: 100px;
    height: 40px;
    background-color: #fff;
    font-size: 24px;
    font-weight: bold;
    
}

/*.panel-header
{
    font-size: 18px;
    line-height: 30px;

    height: 30px;
    padding-left: 5px;

    color: #fff;
    background: lightsalmon;
}
.help-panel .panel-body,
.setting-panel .panel-body
{
    line-height: normal;
}
.timer-panel,
.next-panel,
.score-panel
{
    border-bottom: 1px solid green;
}
*/