*
{
    box-sizing: border-box;
}
html
{
    font-size: 15px;
}
html,
body,
div,
p
{
    margin: 0;
    padding: 0;
}

body
{
    overflow: hidden;

    color: #fff;
    background: #000;
}
button
{
    margin: 0;
    padding: 0;
}
/*start-container start*/
.start-container
{
    position: absolute;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    border: 1px solid green;
    background: url(../images/bg_start.png);
    background-size: cover;

    justify-content: center;
    align-items: center;
}

.start-container button
{
    font-family: 微软雅黑;
    font-size: 20px;
    line-height: 50px;

    width: 200px;
    height: 50px;
    margin-top: 50px;

    cursor: pointer;

    border: 0;
    border-radius: 50%;
    outline: none;
    background: lightgreen;
}

.start-container button:hover
{
    background: lightcoral;
}
/*start-container end*/

/*setting start*/
.setting-container
{
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;

    display: flex;
    visibility: hidden;
    flex-direction: column;

    box-sizing: border-box;
    width: 100%;
    height: 600px;
    margin-top: 350px;

    background-color: #000;

    justify-content: center;
    align-items: center;
}
/*setting end*/

/*mobil-control start*/
#control-container
{
    display: flex;
    flex-direction: column;

    align-items: center;
}
#control-container .row:first-child
{
    margin-bottom: 5rem;
}
#control-container .row:nth-last-child(1)
{
    margin-top: 5rem;
}
#control-container .row
{
    display: flex;

    flex: 1;
}
#control-container .row .left,
#control-container .row .right,
#control-container .row .top,
#control-container .row .down
{
    width: 10rem;

    border-width: 5rem;
    border-style: solid;
}
#control-container .row .center
{
    width: 10rem;
    height: 10rem;
}
#control-container .row .left
{
    border-color: transparent #f00 transparent transparent;
    margin-right: 5rem;
}
#control-container .row .right
{
    border-color: transparent transparent transparent #f00;
    margin-left: 5rem;
}
#control-container .row .top
{
    border-color: transparent transparent #f00 transparent;
}
#control-container .row .down
{
    border-color: #f00 transparent transparent transparent;
}
/*mobil-control end*/

.game-container
{
    position: relative;

    display: flex;
    visibility: hidden;

    box-sizing: content-box;
    height: 1200px;

    border: 1px solid green;
}

.game-left,
.game-right
{
    display: flex;
    flex-direction: column;

    text-align: center;

    flex: 1;
}

.timer-panel,
.help-panel,
.level-panel,
.next-panel,
.setting-panel,
.score-panel,
.high-score-panel
{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.timer-panel
{
    border-bottom: 1px solid green;

    flex: 1;
}
.help-panel
{
    border-bottom: 1px solid green;

    flex: 2;
}
.level-panel
{
    flex: 1;
}

.next-panel
{
    border-bottom: 1px solid green;

    flex: 1;
}
.setting-panel
{
    border-bottom: 1px solid green;

    flex: 1;
}
.score-panel
{
    border-bottom: 1px solid green;

    flex: 1;
}
.high-score-panel
{
    flex: 1;
}
.game-main-panel
{
    width: 780px;
    height: 1200px;

    border-right: 1px solid green;
    border-left: 1px solid green;
}
.panel-body button
{
    font-size: 24px;
    font-weight: bold;

    width: 100px;
    height: 40px;

    background-color: #fff;
}
